<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimingServer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TimingServer.My.MySettings>
            <setting name="IncomingCOMPort" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="UDP1" serializeAs="String">
                <value>10.0.0.255</value>
            </setting>
            <setting name="UDP2" serializeAs="String">
                <value>192.168.0.255</value>
            </setting>
            <setting name="UDP3" serializeAs="String">
                <value>10.10.10.255</value>
            </setting>
            <setting name="UDP4" serializeAs="String">
                <value>192.168.255.255</value>
            </setting>
            <setting name="LocationCode" serializeAs="String">
                <value>ABC</value>
            </setting>
            <setting name="UDP1Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UDP2Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UDP3Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UDP4Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TestTimerFormat" serializeAs="String">
                <value>m:ss.ff</value>
            </setting>
            <setting name="TestClockFormat" serializeAs="String">
                <value>hh:mm:ss</value>
            </setting>
            <setting name="UDP1Port" serializeAs="String">
                <value>10542</value>
            </setting>
            <setting name="UDP2Port" serializeAs="String">
                <value>10542</value>
            </setting>
            <setting name="UDP3Port" serializeAs="String">
                <value>10542</value>
            </setting>
            <setting name="UDP4Port" serializeAs="String">
                <value>10542</value>
            </setting>
            <setting name="UDPListenPort" serializeAs="String">
                <value>7124</value>
            </setting>
            <setting name="UDPListenEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="COMPortEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SourceCOM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SourceUDP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SourceTestClock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SourceTestTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UDP5" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="UDP6" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="UDP7" serializeAs="String">
                <value>77</value>
            </setting>
            <setting name="UDP8" serializeAs="String">
                <value>88</value>
            </setting>
            <setting name="UDP5Port" serializeAs="String">
                <value>555</value>
            </setting>
            <setting name="UDP6Port" serializeAs="String">
                <value>666</value>
            </setting>
            <setting name="UDP7Port" serializeAs="String">
                <value>777</value>
            </setting>
            <setting name="UDP8Port" serializeAs="String">
                <value>888</value>
            </setting>
            <setting name="UDP5Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UDP6Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UDP7Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UDP8Enabled" serializeAs="String">
                <value>False</value>
            </setting>
        </TimingServer.My.MySettings>
    </userSettings>
</configuration>